<html>
<head>
</head>
<body>
  <div class="panel">
    <div class="home">
      <div class="button_pos">
        <button class="button_pos" (click)='onApplyLoan()'>Apply Loan</button>
      </div>
      <div class="button_pos">
        <button class="button_pos" (click)='onUpdateCustomer()'>Update Customer</button>
      </div>
      <div class="button_pos">
        <button (click)='onViewCustomer()' class="button_pos">View Customer</button>
      </div>
      <div class="button_pos">
        <button class="button_pos" (click)='onLogout()'>Logout</button>
      </div>
    </div>
  </div>
  <div class="img">
      <img class="img" src="../../assets/bank-building-outline-icon-isolated-elegant-thin-line-style-drawing-design-69787647-removebg-preview.png" alt="bank_image">
  </div>
</body>

</html>
