<div class="container">
<form [formGroup]="form" (ngSubmit)="submit()">         
        <div class="form-group">
           
            <label>Loan Type:</label>
            <select formControlName="loanType"  (change)="onOptionsSelected(form.get('loanType').value)" >
                <option disabled>Select Type</option>
                <option value="personal">Personal</option>
                <option value="housing">Housing</option>
                <option value="educational">Educational</option>
            </select>
            <!-- <div *ngIf="form.controls.loanType.invalid"
            class="alert alert-danger"> -->
            <mat-error *ngIf="form.get('loanType').hasError('required')">
                <small>Loan type is <strong>required.</strong></small> 
          </mat-error>
            
           <!-- <div *ngIf="form.get('loanType').hasError('required')" class="alert alert-danger">
             <small>Loan type is Required.</small> 
           </div> -->
           <!-- </div> -->
            <br/>
            <label>Loan Amount:</label>
            <input type="text" formControlName="loanAmount" name="loanAmount" >
            <mat-error *ngIf="form.get('loanAmount').hasError('required')">
                <small>Loan amount is <strong>required.</strong></small> 
          </mat-error>
            <br/>          
          <label>Loan Issue date:</label>

            <!-- <mat-form-field appearance="none" >
            <input matInput [min]="minDate" [matDatepicker]="issueDate" disabled>
            <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
            <mat-datepicker #issueDate disabled="false"></mat-datepicker>
          </mat-form-field>  -->

          <!-- <input matInput [matDatepicker]="issueDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
  <mat-datepicker #issueDate></mat-datepicker> -->
    <input name="issueDate" type="date" formControlName="issueDate" [min]="minDate"/>
         
          <mat-error *ngIf="form.get('issueDate').hasError('required')">
            <small>Loan issue date <strong>required.</strong></small>
          </mat-error>

          <br/>
          <label>Rate of Interest:</label>
          <input type="text" formControlName="rateOfInterest" value={{roi}}>
          <br/>

             <label>Duration Of the Loan:</label>
            <select formControlName="loanDuration">
                <option disabled>Select Duration</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <mat-error *ngIf="form.get('loanDuration').hasError('required')">
                <small>Loan duration is <strong>required.</strong></small> 
          </mat-error>


            <div>
                <ng-container *ngIf="form.get('loanType').value==='educational'" class="form-control">
    
                    <!-- <div>
                        <h3>Please enter your {{form.get('loanType').value}} loan details</h3> 
                    </div> -->
                    <div>
                        <label>Course fee:</label>
                        <input type="text" formControlName="courseFee"  >
                        <mat-error *ngIf="form.get('courseFee').hasError('required')">
                            <small>Course fee is <strong>required.</strong></small> 
                      </mat-error>
                        <br/>
                        <label>Course:</label>
                      <select formControlName="courseName" >
                    <option disabled>Course Name</option>
                    <option value="be">B.E</option>
                    <option value="btech">B.Tech</option>
                </select>
                <mat-error *ngIf="form.get('courseName').hasError('required')">
                    <small>Course name is <strong>required.</strong></small> 
              </mat-error>
                <br/>
                <label>Father name:</label>
                        <input type="text" formControlName="fatherName" >
                        <mat-error *ngIf="form.get('fatherName').hasError('required')">
                            <small>Father name is <strong>required.</strong></small> 
                      </mat-error>
                        <br/>
                    </div>
                </ng-container>
            </div>
        </div>

        
        <div>
            <ng-container *ngIf="form.get('loanType').touched && form.get('loanType').value==='personal'||form.get('loanType').value==='housing'">

                <!-- <div>
                   <h2>Please enter your {{form.get('loanType').value}} loan details</h2> 
                </div> -->
                <div>
                    <label>Annual Income:</label>
                    <input type="text" formControlName="annualIncome" required >
                    <br/>
                    <label>Company Name:</label>
                    <input type="text" formControlName="companyName" required >
                    <br/>       
                </div>
            </ng-container>
        </div>
        <!-- <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button> -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
