<div>
  <form (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="col-lg-12">
        <div class="fixed">
          <div class="form-group" class="align_left">
            <label for="name"><span class="error">* </span>Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="customer.username"
              name="username">
            <p></p>
          </div>
          <div class="form-group" class="align_right">
            <label for="name"><span class="error">* </span>Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="customer.password"
              name="password" (focusout)="onChangepassword($event)">
            <p class="error">{{errorMsgPassword}}</p>
          </div>
        </div>
        <div class="fixed">
          <div class="form-group" class="align_left">
            <label for="name"><span class="error">* </span>Customer Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name"
              (keypress)="onChangename($event)">
            <p></p>
          </div>
          <div class="form-group" class="align_right">
            <label for="address"><span class="error">* </span>Address:</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address" name="address">
            <p></p>
          </div>
        </div>
        <div class="fixed">
          <div class="form-group" class="align_left">
            <label for="email"><span class="error">* </span>Please mention email:</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="customer.email"
              (focusout)="checkEmail($event)">
            <p class="error">{{errorMsgEmail}}</p>
          </div>
          <div class="form-group" class="align_right">
            <label for="gender"><span class="error">* </span>Please mention gender:</label>
            <select name="gender" class="form-control" id="gender" [(ngModel)]="customer.gender">
              <option value="male">male</option>
              <option value="female">female</option>
              <option value="other">other</option>
            </select>
            <p></p>
          </div>
        </div>
        <div class="fixed">
        <div class="form-group" class="align_left">
          <label for="marital"><span class="error">* </span>martial status:</label>
          <select name="marital" class="form-control" id="marital" [(ngModel)]="customer.maritalStatus">
            <option value="married">married</option>
            <option value="unmarried">unmarried</option>
          </select>
          <p></p>
        </div>

        <div class="form-group" class="align_right">
          <label for="contact"><span class="error">* </span>Please mention contact no:</label>
          <input type="number" class="form-control" id="contact" name="contact" maxlength="10"
            [(ngModel)]="customer.contactNumber" (focusout)="checkLength($event)">
          <p class="error">{{contactErrorMsg}}</p>
        </div>
    </div>
        <div class="fixed">
          <div class="form-group" class="align_left">
            <label for="account_type"><span class="error">* </span>Account type:</label>
            <select name="account_type" class="form-control" id="account_type" [(ngModel)]="customer.accountType">
              <option value="salary">salary</option>
              <option value="savings">savings</option>
            </select>
            <p></p>
          </div>

          <div class="form-group" class="align_right">
            <label for="date_of_birth"><span class="error">* </span>Date of birth:</label>
            <input name="dob" type="date" [max]="minDate" class="form-control" [(ngModel)]="customer.dateOfBirth" />
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <p class="error" class="blank_field">{{blankFieldError}}</p>
    <div class="action">
      <button type="submit">Submit</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
