/* You can add global styles to this file, and also import other style files */

html,

body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-color:peru; 
}
button{
    background-color: brown;
    color:white;
}

.error{
    color:red;
    font-style: italic;
}
label{
    color:black;
    font-size: 125%;
    font-weight: 500;
}
