/* You can add global styles to this file, and also import other style files */

html,

body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-color: lightblue; 
}
button{
    background-color: green;
    color:white;
}
.error{
    color:red;
}
label{
    color:black;
    font-size: 125%;
    font-weight: 500;
}
