<p>view-customer works!</p>
<button type="button"  (click) = "onReturning()" >Return</button>
<table>
    <tr>
        <td>1</td>
        <td>customerId:</td>
        <td>{{customer.customerId}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Name: </td>
        <td>{{customer.name}}</td>
    </tr>
    <tr>
        <td>3</td>
        <td>AccountNumber</td>
        <td>{{customer.accountNumber}}</td>
    </tr>
    <tr>
        <td>4</td>
        <td>country</td>
        <td>{{ customer.country }}</td>
    </tr>
    <tr>
        <td>5</td>
        <td>State</td>
        <td>{{ customer.state }}</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Gender</td>
        <td>{{ customer.gender }}</td>
    </tr>
    <tr>
        <td>7</td>
        <td>DOB</td>
        <td>{{ customer.dateOfBirth }}</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Registration Date</td>
        <td>{{ customer.dateOfRegistration }}</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Bank Name</td>
        <td>{{ customer.bankName }}</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Branch Name</td>
        <td>{{ customer.branchName }}</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Identiication Proof Type</td>
        <td>{{ customer.idProoType }}</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Identiication Doc Number</td>
        <td>{{ customer.idDocumentNumber }}</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Reference Account Holder Name:</td>
        <td>{{ customer.refAccHolderName }}</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Reference Account Holder Account Number</td>
        <td>{{ customer.refAccHolderAccNo }}</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Reference Account Holder Address</td>
        <td>{{ customer.refAccHolderAddress }}</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Address</td>
        <td>{{ customer.address }}</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Contact No:</td>
        <td>{{ customer.contactNumber }}</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Mail Id</td>
        <td>{{ customer.email }}</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Merital Status</td>
        <td>{{ customer.maritalStatus }}</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Account Type</td>
        <td>{{customer.accountType}}</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Citizinship:</td>
        <td>{{customer.citizenship}}</td>
    </tr>
    <tr>
        <td>22</td>
        <td>citizen status:</td>
        <td>{{ customer.citizenStatus }}</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Guardian Type: </td>
        <td>{{customer.guardianType}}</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Guardian Name: </td>
        <td>{{ customer.guardianName}}</td>
    </tr>
</table>


