<p>view-customer works!</p>
<button type="button"  (click) = "onReturning()" >Return</button>
<table>
    <tr>
        <td>1</td>
        <td>customerId:</td>
        <td>{{customer.customerId}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Name: </td>
        <td>{{customer.name}}</td>
    </tr>
    <tr>
        <td>3</td>
        <td>AccountNumber</td>
        <td>{{customer.accountNumber}}</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Gender</td>
        <td>{{ customer.gender }}</td>
    </tr>
    <tr>
        <td>7</td>
        <td>DOB</td>
        <td>{{ customer.dateOfBirth }}</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Address</td>
        <td>{{ customer.address }}</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Contact No:</td>
        <td>{{ customer.contactNumber }}</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Mail Id</td>
        <td>{{ customer.email }}</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Merital Status</td>
        <td>{{ customer.maritalStatus }}</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Account Type</td>
        <td>{{customer.accountType}}</td>
    </tr>
</table>


